body{
    z-index:1;
}
.mode{
    background-color:black;
    color:white;
    z-index:1;
}
#main{
    width:100%;
    height:100%;
}
header{
    /* border:5px solid red; */
    width:100%;
    height:65px;
    background-color:black;
}
.use{
    /* border:5px solid red; */
    height:60px;
    width:150px;
    float:left;
    margin-left:0.5%;
    margin-top:0%;
    color:white;
}
#user{
    height:50px;
    width:50px;
    margin-left:5.5%;
    margin-top:4%;
    float:left;
    border-radius:50%;
}
b{
    position:relative;
    top: 14px;
    left: 8px;
}
#searchbar{
    float: left;
    margin-left: 15%;
    margin-top: 1%;
    width: 36%;
    height: 36px;
}
.logo{
    border:1px solid black;
    height:35px;
    width:108px;
    float:left;
    margin-top:1%;
    background-color:white;
}
.large{
    float:left;
    margin-left:20px;
    margin-top:4%;
    height:25px;
    width:25px;
}
#like{
    background-color:#0076db;
    /* border:5px solid red; */
    height:36px;
    width:206px;
    float:right;
    margin-right:3%;
    margin-top:1%;
    border-radius:50px;
}
.icon{
    float:left;
    height:30px;
    width:30px;
    margin-left:15%;
    margin-top: 2px;
}
.icon1{
    margin-top: 2px;
    float:left;
    height:30px;
    width:30px;
    margin-left:15%;
    border-radius:50%;
}
#coupon{
    z-index:100;
    width:50%;
    height:300px;
    /* border:5px solid black; */
    margin-left: 25%;
    margin-top:-35%;
    position:absolute;
    visibility:hidden;
    /* background-color:red; */
}
.coupon{
    height:300px;
    width:100%;
}
#tittle{
    width:100%;
    height:26px;
}
.mainlogo{
    height:50px;
    width:50px;
    float:left;
    margin-top:-13px;
}
#messho{
    float:left;
    margin-top:-4px;
    color:red;
    font-size: 20px;
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sign{
    cursor: pointer;
    float:right;
    margin-left:1%;
    margin-right:2%;
    font-weight:bold;
    font-size:20px;
    margin-top:-4px;
}
.mode .location{
    background-color: #41a180;
}
.location{
    width:210px;
    height:40px;
    float:right;
    font-size:20px;
    font-weight:bold;
    /* background-color: #41a180; */
    margin-top: -7px;
}
#weather-icon{
    float:right;
    height:50px;
    margin-top:-3px;
}
#weather-icon img {
    height:40px;
    width:40px;
}
.wicon{
    height:50px;
    width:50px;
}
.offer{
    width:70%;
    height:300px;
    margin-left:15%;
    /* border:5px solid red; */
}
.offer1{
    width:100%;
    height:300px;
}
.bar{
    /* margin-top:1%; */
    height:20px;
    width:100%;
    background:linear-gradient(90deg,orange,red,yellow,red,orange,yellow);
    animation:bar 20s infinite;
    background-size:250%;
    position:relative;
}
@keyframes bar {
    0%{
        background-position:0 0;
    }
    100%{
        background-position:250% 0;
    }
}
.everything{
    height:50px;
    width:100%;
    border:2px solid black;
    display:flex;
}
.all{
    margin-left:9%;
    font-size:25px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
}
.point{
    height:30px;
    width:30px;
    margin-left:2%;
}
#location{
    font-size: 25px;
    background-color:azure;
}
#category{
    border:2px solid black;
    height:152px;
    width:100%;
    display:flex;
    overflow-y: scroll;
}
.category{
    border:1px solid black;
    height:100px;
    width:100px;
    margin-top:1%;
    margin-left:3%;
    background-color:red;
}
.names{
    margin-left:9px;
    font-size:20px;
    font-weight:100;
}
.names1 {
    margin-left:22px;
    font-size:20px;
    font-weight:100;
}
.names2 {
    font-size:20px;
    font-weight:100;
}
/*footer section*/
footer{
    height:500px;
    width:100%;
    border:5px solid black;
    margin-top:0%;
    
}
.footheading{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}
.foot{
    height:300px;
    width:15%;
    /* border:5px solid red; */
    margin-left:9%;
    margin-top:3%;
    float:left;
}
#footemail{
    height:20px;
    width:150px;
    border:1px solid black;
    margin:3%;
}
#prime{
    height:20px;
    width:100px;
    /* border:5px solid blue; */
    background-color:black;
    color:white;
    margin:3%
}
.footimg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: -25%;
    margin-right: 35%;
    float: right;
}
#rights{
    margin-left:1%;
        height:50px;
        width:20%;
        /* border:5px solid red; */
        float:left;
    
}
#pay{
        height:50px;
        width:50%;
        /* border:5px solid red; */
        float:right;
        position:relative;
        left: -45px;
        top: 65px;
}
.credit{
    float:right;
    height:100%;
    width:10%;
    margin-left:5%;
}
#log{
    z-index:100;
    height: 390px;
    width:50%;
    margin-top:-40%;
    margin-left:25%;
    background-color:#d0c719;
    visibility:hidden;
    position:absolute;
}
@media screen and (max-width:1190px){
    #searchbar{
        margin-left:8%;
    }
}
@media screen and (max-width:1140px){
    .all{
        font-size:22px;
    }
    #coupon{
        margin-top:-45%;
    }
}
@media screen and (max-width:1110px){
    .foot{
        width:16%;
    }
    #searchbar{
        margin-left:10%;
    }
    #rights{
        margin-top:0px
    }
}
@media screen and (max-width:1040px){
    #rights{
        margin-top:60px;
    }
    .all{
        font-size:20px;
    }
    #coupon{
        margin-top:-45%;
    }
    #log{
        margin-top:-45%;
    }
}
@media screen and (max-width:1028px){
    #searchbar{
        margin-left:4%;
    }
    #coupon{
        margin-top:-60%;
    }
    #log{
        margin-top:-60%;
    }
}
@media screen and (max-width:995px){
    #footemail{
        margin-left:-12%;
    }
    #pay{
        margin-right:4%;
    }
    #searchbar{
        margin-left:5%;
    }
}
@media screen and (max-width:930px){
    #pay{
        width:100%;
        margin-right:12%
    }
    footer{
        height:600px;
    }
    #rights{
        margin-top:80px;
    }
    #searchbar{
        margin-left:1%;
    }
}
@media screen and (max-width:915px){
    .all{
        font-size:18px;
    }
}
@media screen and (max-width:885px){
    #footemail{
        margin-left:-18%;
    }
    #pay{
        margin-right:15%;;
    }
}
@media screen and (max-width:855px){
    .foot{
        overflow:scroll;
        height:350px;
    }
    #pay{
        margin-top:-51px
    }
    #footemail{
        margin-left:1%;
    }
    .everything{
        overflow:scroll;
    }
    #coupon{
        margin-top:-70%;
    }
    #log{
        margin-top:-70%;
    }
}
@media screen and (max-width:811px){
    #searchbar{
        margin-left:0%;
    }
    .everything{
        overflow:scroll;
    }
    #coupon{
        margin-top:-70%;
    }
    #log{
        margin-top:-70%;
    }
}
@media screen and (max-width:785px){
    #searchbar{
        margin-left:-4%;
    }
    #coupon{
        margin-top:-70%;
    }
    #log{
        margin-top:-70%;
    }
}
@media screen and (max-width:740px){
    #like{
        width:175px
    }
    .icon{
        margin-left:10%;
    }
    #coupon{
        margin-top:-70%;
    }
    #log{
        margin-top:-70%;
    }
}
@media screen and (max-width:690px){
    #like{
        width:150px;
    }
    .icon{
        margin-left:7%;
    }
    .footimg{
        height:20px;
        width:20px;
        margin-left:-24%;
    }
    #coupon{
        margin-top:-80%;
    }
    #log{
        margin-top:-80%;
    }
}
@media screen and (max-width:650px){
    #like{
        width:130px;
        margin-right:1%;
    }
    .icon{
        margin-left:5%;
    }
    #coupon{
        margin-top:-98%;
    }
    #log{
        margin-top:-98%;
    }
}
@media screen and (max-width:615px){
    #like{
        margin-right: 1%;
        width: 125px;
    }
    .icon{
        margin-left:2%;
    }
    #coupon{
        margin-top:-98%;
    }
    #log{
        margin-top:-98%;
    }
}
@media screen and (max-width:600px){
    #searchbar{
        margin-left:-6%;
    }
    #coupon{
        margin-top:-98%;
    }
    .sign{
        font-size:20px;
        margin-right:1%;
    }
    .location{
        font-size:20px;
        
    }
}
@media screen and (max-width:580px){
    header{
        height:100px;
    }
    #searchbar{
        margin-top:10%;
    }
    .logo{
        margin-top:10%;
    }
    #like{
        margin-top:-16%;
        width:150px
    }
    .icon{
        margin-left:8%;
    }
    .footheading{
        font-size:12px;
    }
    #coupon{
        margin-top:-98%;
    }
    #log{
        margin-top:-98%;
    }
    .sign{
        font-size:10px;
        margin-right:1%;
    }
    .location{
        font-size:10px;
        width:125px;
    }
}
@media screen and (max-width:515px){
    #searchbar{
        margin-top:12%;
    }
    .logo{
        margin-top:12%;
    }
    #rights{
        margin-left:5%;
        width:50%;
    }
    #like{
        margin-top:-18%;
    }
    #coupon{
        margin-top:-98%;
    }
    #log{
        margin-top:-98%;
    }
    .sign{
        font-size:10px;
        margin-right:1%;
    }
    .location{
        font-size:10px;
        width:125px;
    }
}